<!doctype html>
<html lang="en" ng-controller="MainCtrl">

<head>
  <meta charset="utf-8" />
  <title>Student Profile</title>
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="keywords" content="AngularJS, angular-kickstart, gulp, bower, vesparny" />

  <!-- bootstrap -->
  <link rel="stylesheet" type="text/css" href="src/vendor/bootstrap/dist/css/bootstrap.min.css" />

  <!-- build -->
  <link rel="stylesheet" type="text/css" href="tmp/main.css" />
  
</head>

<body>
  <div>

      <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
      <header ui-view="header"></header>
      <div ui-view class="l-page island"></div>
      <footer ui-view="footer"></footer>
    
  </div>

  <!-- build:js assets/js/vendor.js -->
  <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="src/vendor/angular/angular.js"></script>
  <script type="text/javascript" src="src/vendor/angular-ui-router/release/angular-ui-router.js"></script>
  <script type="text/javascript" src="src/vendor/angular-cookies/angular-cookies.min.js"></script>
  <!-- endbuild -->

  <!-- build:js assets/js/main.js -->
  <script type="text/javascript" src="src/app/app.js"></script>

  <script type="text/javascript" src="src/app/home/home.js"></script>
  <script type="text/javascript" src="src/app/login/login.js"></script>
  <script type="text/javascript" src="src/app/register/register.js"></script>
  <script type="text/javascript" src="src/app/profile/profile.js"></script>

  <script type="text/javascript" src="src/common/directives/fileinput.js"></script>
  <script type="text/javascript" src="src/common/interceptors/httpInterceptor.js"></script>
  <script type="text/javascript" src="src/common/services/authenticationService.js"></script>
  <script type="text/javascript" src="src/common/services/flashService.js"></script>
  <script type="text/javascript" src="src/common/services/userService.js"></script>
  <script type="text/javascript" src="src/common/services/uploadService.js"></script>

  <script type="text/javascript" src="src/common/header.js"></script>
  <script type="text/javascript" src="src/common/footer.js"></script>

  <script type="text/javascript" src="tmp/templates.js"></script>
  <!-- endbuild -->
</body>

</html>
