<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <img ng-hide="vm.user.pic" src="http://placehold.it/300x300">
            <img ng-show="vm.user.pic" ng-src="assets/images/upload/{{vm.user.pic}}" style="max-width:300px;">
        </div>
        <div class="col-xs-12 col-sm-6">
            <h1>Welcome {{vm.user.firstName}}!</h1>
            
            <div class="table-title">
              <h3>Registered users:</h3>
            </div>
            <table class="table-fill">
              <thead>
                <tr>
                  <th class="text-left">Users</th>
                  <th class="text-left">Action</th>
                </tr>
              </thead>
              <tbody class="table-hover">
                <tr ng-repeat="user in vm.allUsers">
                  <td class="text-left">{{user.username}} ({{user.firstName}} {{user.lastName}})</td>
                  <td class="text-left"><a href="#" ng-click="vm.deleteUser(user.id)">Delete</a></td>
                </tr>
              </tbody>
            </table>
                
            <p>&nbsp;</p>
            <p><a href="#/profile" class="btn btn-primary">Edit Profile</a> <a href="#/login" class="btn btn-primary">Logout</a></p>
        </div>
    </div>
</div>



